In [1]:
from itertools import product

import pandas as pd
import numpy as np

from sklearn.cluster import AgglomerativeClustering
from sklearn import metrics

import seaborn as sb
import matplotlib.pyplot as plt
from pylab import rcParams

%matplotlib inline
rcParams['figure.figsize'] = 16, 8
sb.set_style('whitegrid')

In [2]:

# Read the Crimes Data
crimes_data_df = pd.read_csv("./data/Arrival by country of origin for all FY2016 - Sheet1 (1).csv")




#crimes_data_df= crimes_data_df.drop(columns=["Unnamed: 0", "ID"])
#crimes_data_df["Location Description"]=crimes_data_df["Location Description"].replace({"Residential Areas":"RESIDENCE PORCH/HALLWAY","Residential Areas":"RESIDENCE-GARAGE", "Residential Areas":"RESIDENTIAL YARD (FRONT/BACK)","Residential Areas":"APARTMENT","Residential Areas":"RESIDENCE", "Residential Areas":"DRIVEWAY - RESIDENTIAL", "Parking": "PARKING LOT/GARAGE(NON.RESID.)", "Parking":"CTA GARAGE / OTHER PROPERTY",
 #                                                                                     "Store":"GROCERY FOOD STORE","Store":"DRUG STORE","Store":"SMALL RETAIL STORE","Store":"DEPARTMENT STORE" "STREET":"ALLEY" , "Bar":"BAR OR TAVERN", "Vehicle":"VEHICLE NON-COMMERCIAL", "FACTORY":"FACTORY/MANUFACTURING BUILDING", "Public": "CTA BUS STOP", "school":"SCHOOL, PUBLIC, BUILDING", "COMMERCIAL":"COMMERCIAL / BUSINESS OFFICE", "healthcare building":"NURSING HOME/RETIREMENT HOME", "healthcare building":"HOSPITAL BUILDING/GROUNDS","healthcare building":"MEDICAL/DENTAL OFFICE",
  #                                                                                    "Public":"CHURCH/SYNAGOGUE/PLACE OF WORSHIP","school":"SCHOOL, PUBLIC, GROUNDS","Hotel":"HOTEL/MOTEL","school":"SCHOOL, PRIVATE, BUILDING", "Vehicle":"CTA BUS", "school":"DAY CARE CENTER","Public":"AIRPORT/AIRCRAFT"})
# Display the data table for preview
crimes_data_df.head()

,Country of Origin,Oct 2015,Nov 2015,Dec 2015,Jan 2016,Feb 2016,Mar 2016,Apr 2016,May 2016,Jun 2016,Jul 2016,Aug 2016,Sep 2016
0,Angola,0,0,0,0,0,0,3,0,0,0,0,0
1,Burundi,59,5,25,49,56,68,48,62,85,62,116,59
2,Cameroon,0,0,0,0,0,0,1,2,6,0,2,3
3,Central African Republic,0,14,4,0,0,0,12,4,0,8,206,153
4,Chad,0,0,0,0,0,0,0,1,0,0,0,1

In [3]:
#import the necessary module
from sklearn import preprocessing

# create the Labelencoder object
le = preprocessing.LabelEncoder()

#convert the categorical columns into numeric
crimes_data_df['Country of Origin'] = le.fit_transform(crimes_data_df['Country of Origin'])
#crimes_data_df['Location Description'] = le.fit_transform(crimes_data_df['Location Description'])
#crimes_data_df['Arrest'] = le.fit_transform(crimes_data_df['Arrest'])


#display the initial records
crimes_data_df.head()

,Country of Origin,Oct 2015,Nov 2015,Dec 2015,Jan 2016,Feb 2016,Mar 2016,Apr 2016,May 2016,Jun 2016,Jul 2016,Aug 2016,Sep 2016
0,1,0,0,0,0,0,0,3,0,0,0,0,0
1,9,59,5,25,49,56,68,48,62,85,62,116,59
2,11,0,0,0,0,0,0,1,2,6,0,2,3
3,12,0,14,4,0,0,0,12,4,0,8,206,153
4,13,0,0,0,0,0,0,0,1,0,0,0,1

In [4]:
#select columns other than Arrest
cols = [col for col in crimes_data_df.columns if col not in ['Sep 2016']]

#dropping the 'Opportunity Number'and 'Opportunity Result' columns
X = crimes_data_df[cols]

#assigning the Oppurtunity Result column as target
target = crimes_data_df['Sep 2016']

X.head(n=2)

,Country of Origin,Oct 2015,Nov 2015,Dec 2015,Jan 2016,Feb 2016,Mar 2016,Apr 2016,May 2016,Jun 2016,Jul 2016,Aug 2016
0,1,0,0,0,0,0,0,3,0,0,0,0
1,9,59,5,25,49,56,68,48,62,85,62,116

In [5]:
# Create a list of tuples to test cluster ranges with different linkages
cluster_range = range(2, 11)
linkage = ['average', 'complete', 'ward']

cluster_range_linkage = list(product(cluster_range, linkage))
print(cluster_range_linkage)

[(2, 'average'), (2, 'complete'), (2, 'ward'), (3, 'average'), (3, 'complete'), (3, 'ward'), (4, 'average'), (4, 'complete'), (4, 'ward'), (5, 'average'), (5, 'complete'), (5, 'ward'), (6, 'average'), (6, 'complete'), (6, 'ward'), (7, 'average'), (7, 'complete'), (7, 'ward'), (8, 'average'), (8, 'complete'), (8, 'ward'), (9, 'average'), (9, 'complete'), (9, 'ward'), (10, 'average'), (10, 'complete'), (10, 'ward')]

In [6]:
# Create a list of AgglomerativeClustering models with differing numbers of clusters
ag_models = [AgglomerativeClustering(n_clusters=i[0], linkage=i[1]) for i in cluster_range_linkage]
print(ag_models[0])
print(ag_models[7])

AgglomerativeClustering(affinity='euclidean', compute_full_tree='auto',
            connectivity=None, linkage='average', memory=None,
            n_clusters=2,
            pooling_func=<function mean at 0x000001C8C712FBF8>)
AgglomerativeClustering(affinity='euclidean', compute_full_tree='auto',
            connectivity=None, linkage='complete', memory=None,
            n_clusters=4,
            pooling_func=<function mean at 0x000001C8C712FBF8>)

In [9]:
# For each model, fit it to the data and get the Silhouette score (described below)
cluster_scores = list()

# Fit each of the models on the features (y)
for ag_model in ag_models:
    model = ag_model.fit(target)
    s_score = metrics.silhouette_score(data, model.labels_, metric='euclidean')
    cluster_scores.append(s_score)

# Show one of the scores
cluster_scores[0]

ValueError: Expected 2D array, got 1D array instead:
array=[   0   59    3  153    1    1 3551  193  182    0    0    2    0    0
    1    0   30   27    4    0 1118  218    1    0    9    0    6 1232
    4    4    0    0    0    0    1    0    6   10    8   15    0    0
    0   12    2   92    0    0   84    0    0  285   11   45   27   35
    0   10    0  629    0  557    5    0  469 1567    0    1    0    1
   93   12    0   15 1847    0    1    2].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.